# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.moved-aside
*.pbxuser
!default.pbxuser

# Swift Package Manager
.swiftpm/
.build/

# SwiftPM build products
Packages/*/.build/
